public net.minecraft.entity.projectile.FireworkRocketEntity field_92055_b # lifetime
# public net.minecraft.entity.projectile.ProjectileEntity <init>(Lnet/minecraft/entity/EntityType;Lnet/minecraft/world/World;)V
public net.minecraft.entity.monster.CreeperEntity field_184714_b # DATA_IS_POWERED